<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SMSBot-Currency Converter demo</title>
    <script src="js/newmain.js" type="text/javascript"></script>
    <script src="js/jquery-1.12.0.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <script src="js/bootstrap.min.js"></script>
    <link href='css/source_sans_pro.css' rel='stylesheet' type='text/css'>
    <link href='css/open_sans.css' rel='stylesheet' type='text/css'>
    <script src="jqCloud/dist/jqcloud.min.js"></script>
    <link rel="stylesheet" href="jqCloud/dist/jqcloud.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css"></style>
    <script type="text/javascript" src="js/async.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/" class="navbar-brand"><b>ABOUT</b></a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/index">Subscription</a></li>
        <li><a href="/sendsms">SMS</a></li>
        <!--li><a href="/login">Login</a></li-->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://www.ringcentral.com" target="_blank">Powered by&nbsp;       <img alt="Brand" src="img/ringcentral.png" height="20"></a></li>
      </ul>
    </div>
  </nav>

  <section id='content'>
    <div class="row">
    <div class="col-xs-12">
      <h1>About this app</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>RingCentral Connect Platform</h2>
      <p>
        RingCentral Connect Platform is a rich RESTful API platform with more than 60 APIs for business communication includes advanced voice calls, chat messaging, SMS/MMS and Fax.
      </p>
      <h2>RingCentral Developer Portal</h2>
      <p>
        To setup a free developer account, click <a href="https://developer/ringcentral.com" target="_top">here</a>.
      </p>
      <h2>Overview</h2>
      <p>
        This is a demo project showing how to use RingCentral SMS and Push Notification APIs to implement a SMS bot.</br>
        The bot will
      </p>
      <h2>How to use</h2>
      <ol>
        <li>Advertize the service number to users</li>
        <li>User can use their phone to send a SMS message to the service number.</li>
      </ol>
      <h2>Technologies used</h2>
      <ul>
        <li><a href='https://developer.ringcentral.com/api-docs/latest/index.html#!#RefSMSMessages.html' target='_blank'>RingCentral's SMS/MMS API</a></li>
        <li><a href='https://developer.ringcentral.com/api-docs/latest/index.html#!#RefNotifications.html' target='_blank'>RingCentral's Push Notification API</a></li>
        <li><a href='https://nodejs.org/en/' target='_blank'>Node.js</a></li>
      </ul>
      <h2>Additional information</h2>
      <ul>
        <li>Created by: <a href='https://twitter.com/pacovu' target='_blank'>Paco Vu</a></li>
        <li>Source code: <a href='https://github.com/PacoVu/smsbot-cc' target='_blank'>Github</a></li>
      </ul>
    </div>
  </div>
  </section>
</body>
</html>
